@import "~assets/reset.styl"
@import "~assets/theme.styl"

.common {
	width 100%
	height 100%
	padding 0 20px
}


flex-sb-fs() {
	display flex
	justify-content space-between
	align-items flex-start
}

flex-sb-c() {
	display flex
	justify-content space-between
	align-items center
}

flex-sa-fs() {
	display flex
	justify-content: space-around
	align-items flex-start
}

flex-sa-c() {
	display flex
	justify-content space-around
	align-items center
}


.form-item-content {
	position relative
	margin-bottom: 20px
	.handle {
		height 10px
		width 40px
		position absolute;
		top -5px;
		right 5%;
		display flex;
		z-index 9;
		span {
			width 20px
			height 10px
			line-height 10px
			text-align center
			cursor pointer
		}
	}
}

.icon-delete {
	color #ff292a
}


.newItem {
	position fixed
	width 200px
	line-height $lh-36
	margin 8px 0
	background $bg-blue
	border-radius 4px
	text-align center
	color $color-w
	cursor pointer
	pointer-events none
}