@import "assets/reset.scss";
@import "assets/theme.scss";

.common {
    width: 100%;
    height: 100%;
    padding: 0 20px;
}

$l-100: 100%; 

@mixin flex-sb-fs {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@mixin flex-sb-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-sa-fs {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

@mixin flex-sa-c {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

$lh-36: 36px;

.form-item-content {
	position: relative;
	margin-bottom: 20px;
	.handle {
		height: 10px;
		width: 40px;;
		position: absolute;
		top: -5px;
		right: 5%;
		display: flex;
		z-index: 9;
		span {
			width: 20px;
			height: 10px;
			line-height: 10px;
			text-align: center;
			cursor: pointer;
		}
	}
}